*.iml
.gradle
/local.properties

/.idea/libraries
.DS_Store
/build
/captures

bin/
gen/
.classpath
.project
proguard/
*.ipr
*.iws
app/build/

.idea/*.xml

!.idea/gradle.xml
!.idea/runConfigurations/*.xml

/.idea/

# for firebase
google-services.json


